input[type=text],input[type=password],input[type=number],input[type=email],input[type=date],textarea{
                                    width:100%;
                                    padding:12px 20px;
                                    margin:8px 0;
                                    box-sizing:border-box;
                                    border-color:green;
                                    border-radius:9px;
                                   }
                 input[type=submit],input[type=reset],button{
                                     width:8%;
                                     height:7%;
                                     background-color:deepskyblue;
                                     border-color: turquoise;
                                     border-radius:15px;
                                    }
                select{
                          width:100%;
                          height:4%;
                          border-radius:5px;
                     }
                fieldset{
                      background-image:repeating-radial-gradient(deepskyblue,green);
                    }
               body{
                      background-image:repeating-linear-gradient(green,blue,black);
                    }